:root {
    --cor-primaria: #1b4965;
    --cor-destaque1: #1b4965;
    --cor-primaria: #1b4965;
    --fonte-titulo: Arial, sans-serif;
    --fonte-body: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-body);
    color: var(--cor-destaque1);
}

h1,
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 20px;
}

header img {
    width: 100px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
}

.redes-sociais a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--cor-destaque1);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 35%;
    left: 50px;
    right: 50px;
    padding: 15px;
    background-color: var(--cor-destaque1);
    color: #fff;
    opacity: 0.8;
}

.hero article img {
    float: right;
    width: 80px;
    margin-left: 15px;
    margin-right: 20px;
}

.aventuras {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: center;

}

.aventuras-secao {
    padding: 20px;
    border: 1px solid var(--cor-primaria);
    margin: 20px;
}

.aventuras figure {
    flex: 1;
    margin: 0;
}

.aventuras img {
    width: 100%;
    max-width: 125px;

}

.historia-img {
    width: 180px;
}

.historia-conteudo {
    display: grid;
    grid-template-columns: 1fr 180px 1fr;
    align-items: center;
    gap: 20px;

}

.historia {
    padding: 20px;
    border: 1px solid var(--cor-primaria);
    margin: 20px;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--cor-destaque1);
    color: #fff;
}

.redes-sociais {
    display: flex;
    gap: 15px;
}

.redes-sociais img {
    width: 50px;
}